# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
/promptEHR_logs/
/simulation_mimic3dig5/
/simulation_mimic3dig3/
/simulation_shortICD_subset/
/demo_data/demo_patient_sequence/ehr/toy_3digbreast.csv
/demo_data/demo_patient_sequence/ehr/old/code_to_int_mapping.csv
/demo_data/demo_patient_sequence/ehr/old/toy_mimic.csv
/demo_data/demo_patient_sequence/ehr/train_3digmimic4.csv
/demo_data/demo_patient_sequence/ehr/val_5digmimic3_subset.csv
/demo_data/demo_patient_sequence/ehr/diagnosis_to_int_mapping_5dig.csv
/demo_data/demo_patient_sequence/ehr/test_3digbreast.csv
/demo_data/demo_patient_sequence/ehr/old/test_mimic.csv
/demo_data/demo_patient_sequence/ehr/drug_to_int_mapping_5dig.csv
/demo_data/demo_patient_sequence/ehr/proc_to_int_mapping_3digeicu.csv
/demo_data/demo_patient_sequence/ehr/train_5digmimic.csv
/demo_data/demo_patient_sequence/ehr/old/
/demo_data/demo_patient_sequence/ehr/diagnosis_to_int_mapping_mimic4.csv
/demo_data/demo_patient_sequence/ehr/test_5digmimic3_subset.csv
/demo_data/demo_patient_sequence/ehr/toy_3digmimic3_subset.csv
/demo_data/demo_patient_sequence/ehr/old/train_mimic.csv
/demo_data/demo_patient_sequence/ehr/val_3digbreast.csv
/demo_data/demo_patient_sequence/ehr/test_3digmimic3_subset.csv
/demo_data/demo_patient_sequence/ehr/proc_to_int_mapping_5dig.csv
/demo_data/demo_patient_sequence/ehr/val_3digmimic.csv
/demo_data/demo_patient_sequence/ehr/proc_to_int_mapping_mimic4.csv
/demo_data/demo_patient_sequence/ehr/toy_3digeicu.csv
/demo_data/demo_patient_sequence/ehr/diagnosis_to_int_mapping_3digeicu.csv
/demo_data/demo_patient_sequence/ehr/lab_to_int_mapping_mimic4.csv
/demo_data/demo_patient_sequence/ehr/diagnosis_to_int_mapping_3dig.csv
/demo_data/demo_patient_sequence/ehr/val_3digmimic4.csv
/demo_data/demo_patient_sequence/ehr/val_3digmimic3_subset.csv
/demo_data/demo_patient_sequence/ehr/drug_to_int_mapping_3digeicu.csv
/demo_data/demo_patient_sequence/ehr/toy_3digmimic.csv
/demo_data/demo_patient_sequence/ehr/drug_to_int_mapping_3dig.csv
/demo_data/demo_patient_sequence/ehr/test_3digmimic4.csv
/demo_data/demo_patient_sequence/ehr/eicu_4moda_with_timegaps.csv
/demo_data/demo_patient_sequence/ehr/lab_to_int_mapping.csv
/demo_data/demo_patient_sequence/ehr/proc_to_int_mapping.csv
/demo_data/demo_patient_sequence/ehr/breast_4moda_with_timegaps.csv
/demo_data/demo_patient_sequence/ehr/test_3digeicu.csv
/demo_data/demo_patient_sequence/ehr/train_3digmimic3_subset.csv
/demo_data/demo_patient_sequence/ehr/train_5digmimic3_subset.csv
/demo_data/demo_patient_sequence/ehr/ae_to_int_mapping.csv
/demo_data/demo_patient_sequence/ehr/lab_to_int_mapping_5dig.csv
/demo_data/demo_patient_sequence/ehr/toy_5digmimic.csv
/demo_data/demo_patient_sequence/ehr/toy_5digmimic3_subset.csv
/demo_data/demo_patient_sequence/ehr/lab_to_int_mapping_3dig.csv
/demo_data/demo_patient_sequence/ehr/train_3digmimic.csv
/demo_data/demo_patient_sequence/ehr/toy_3digmimic4.csv
/demo_data/demo_patient_sequence/ehr/eicu_4modal.csv
/demo_data/demo_patient_sequence/ehr/val_3digeicu.csv
/demo_data/demo_patient_sequence/ehr/val_5digmimic.csv
/demo_data/demo_patient_sequence/ehr/lab_to_int_mapping_3digeicu.csv
/demo_data/demo_patient_sequence/ehr/proc_to_int_mapping_3dig.csv
/demo_data/demo_patient_sequence/ehr/drug_to_int_mapping_mimic4.csv
/demo_data/demo_patient_sequence/ehr/drug_to_int_mapping.csv
/demo_data/demo_patient_sequence/ehr/test_5digmimic.csv
/demo_data/demo_patient_sequence/ehr/test_3digmimic.csv
/demo_data/demo_patient_sequence/ehr/train_3digeicu.csv
/demo_data/demo_patient_sequence/ehr/train_3digbreast.csv
/demo_data/demo_patient_sequence/ehr/old/val_mimic.csv
/simulation_breast/
/simulation_longICD/
/simulation_shortICD/
/simulation_mimic4/
